<p>{% extends 'base.html' %} {% block head %} {% endblock %} {% block body %}</p>
    <div class="contemt">
<h1>Forest Fire Prediction</h1>
</div>
<form action="/predict" method="post">
    <p><label for="Temperature">Temperature:-</label><input name="Temperature" type="int" id="predict"  /></p>
    <p><label for="Humidity"> Relative Humidity:-</label><input name="RH" type="text" /></p>
    <p><label for="Wind Speed">Wind Speed:-</label><input name="Ws" type="text"  /></p>
    <p><label for="Rain">Rain :-</label><input name="Rain" type="text" /></p>
    <p><label for="FFMC">Fine Fuel Moisture Code (FFMC) :-</label><input name="FFMC" type="text"  /></p>
    <p><label for="DMC">Duff Moisture Code (DMC):-</label><input name="DMC" type="text"  /></p>
    <p><label for="DC">Drought Code (DC):-</label><input name="DC" type="text"  /></p>
    <p><label for="ISI">Initial Spread Index (ISI) :-</label><input name="ISI" type="text"  /></p>
    <p><label for="BUI">Buildup Index (BUI) :-</label><input name="BUI" type="text"  /></p>
    <p><label for="FWI">Fire Weather Index (FWI) Index:-</label><input name="FWI" type="text"  /></p>
    <p><label for="Classes">Class:-</label><input name="Classes" type="text"  /><br /><br /><br />
    <button type="submit" value="&quot;Predict">Predict</button></p>
</form>

</div>

<div class="content">
    <h1 style="text-align: center">File predict</h1>

    <div class="form">
        <form action="/predictfile" method="POST">
            <input type="text" name="file" id="content">
            <input type="submit" value="Predict">
        </form>
    </div>

{% endblock %}</p>